#about{
	// height: 800px;
	// background-color: red;
	box-shadow: inset 0px 0px 53px 0px rgba(201, 229, 253, 0.31);
	// padding:/;
	padding: 100px;
	.container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		height: 100%;
		max-width: 1300px;
		.art-container{
			display: flex;
			align-items: center;
			align-items: center;
			img{
				height: 100%;
				max-width: 100%;
				object-fit: cover;
			}
			
		}
		.about-container{
			padding: 2em;
			.window-container{
				max-width: 600px;
			}
		}

		.about-text{
			display: flex;
			flex-direction: column;
			gap: 2em;
			padding: 1em;
			padding-bottom: 100px;
			p{
				font-size: 1rem;
				color: #A5A5A5;
				&::before{
					content: '> ';
				}
			}

			.wr{
				color: #C9E5FD;
			}

			.cor{
				color: #1A7824;
			}
		}
	}
}