.shockwave{
	outline: .5vw solid #b0d0ff;
	width: 500px;
	height: 500px;
	position: fixed;
	z-index: 1000;
	background: radial-gradient(transparent 10%, #8cb6f5 100%);
	animation: hologram-expand 1s ease forwards;
	mix-blend-mode: hard-light;
	backdrop-filter: blur(20%);
	border-radius: 50%;
	pointer-events: none;
	user-select: none;
	
	&.green{
		outline: .5vw solid rgb(176, 255, 196);
		
		background: radial-gradient(transparent 10%, #8cf5ab 100%);
		border-radius: 0;
		animation: glitch 0.2s infinite alternate steps(2), hologram-expand 1s ease forwards;
	}
}
@keyframes glitch {
	0% {
		translate: 0 0;
		// filter: hue-rotate(0deg);
	}
	10% {
		translate: 5px 0;
	}
	20% {
		translate: -5px 0;
	}
	30% {
		translate: 15px 0;
	}
	40% {
		translate: 5px 0;
	}
	50% {
		translate: -25px 0;
	}
	60% {
		translate: -50px 0;
	}
	70% {
		translate: 0 -20px;
	}
	80% {
		translate: -60px -20px;
	}
	81% {
		translate: 0 0;
	}
	100% {
		transform: translate(0, 0);
		filter: hue-rotate(-50deg);
	}
}