.section-title{
	margin-top: 1em;
	.directory{
		font-size: 1.2rem;
	}
	.run-command{
		font-size: 1.7rem;
		b{
			font-weight: bold;
		}
	}

	.description{
		margin: 1em;
		opacity: .6;
		font-size: 1rem;
	}
	.cursor{
		animation: blink 800ms infinite  steps(1);
	}
}

@keyframes blink {
	0%{
		opacity: 0;	
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}