#time-sync {
  background: linear-gradient(180deg, #1e1b22 38.02%, #17161d 86.46%);
  margin: 100px 0;

  .confine {
    max-width: 1200px;
    margin: 0 auto;
  }
  .heading {
    background: #565684;
    h2 {
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
      font-family: "Nik";
      text-align: center;
      font-size: 3rem;
    }
  }

  .connection-lost {
    text-align: center;
    font-size: 3rem;
    p {
      color: #93f4fd;
      background: linear-gradient(to left, #c9e5fd3a, #93f4fd8b, #c9e5fd3a);
      animation: blink 2s infinite linear;
    }
  }
  .user-time {
    text-align: center;
    margin: 2em 0;
    h2 {
      color: #c9e5fd;
      font-size: 1.2rem;
      margin: 1em;
    }
    .user-time-detail {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      p {
        color: #565684;
        font-size: 1.3rem;
      }
    }
  }

  .next-stream-time {
    background: linear-gradient(
      180deg,
      rgba(26.01, 120.06, 35.87, 0.59) 0%,
      rgba(48.11, 222.06, 66.34, 0) 100%
    );
    text-align: center;
    padding: 2em;
    h2 {
      font-size: 1.2rem;
      font-family: "Nik";

      letter-spacing: 0.25em;
      color: white;
      text-shadow: 2px 2px white, 2px 2px 3px black;
      color: transparent;
    }
    .ctd-timer {
      padding: 0.15em 0;
      margin: 0.2em 0;
      color: #3b8046;
      background-color: rgba(72, 253, 133, 0.068);
      text-shadow: 2px 3px rgba(0, 0, 0, 0.322);
      border-radius: 2em 0 2em 0;
      font-size: 5rem;
      font-weight: bold;
      letter-spacing: 0.15em;
      span {
        // font-weight: normal;
        color: #3b8046;
        opacity: 0.5;
        animation: blink 1s infinite linear;
      }
    }

    .ctd-detail {
      // display: 1.25em;
      .time {
        color: #3b8046;
        font-size: 1.2rem;
      }
      .tz {
        color: #3b8046;
        letter-spacing: -1px;
        font-weight: bold;
      }
    }
  }

  .flight-time {
    margin: 0.4em;
    padding: 2.5em 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    .area {
      background: linear-gradient(180deg, #3a3a65 0%, #211f27 100%);
      padding: 0.55em 1em;
      border-radius: 0.5em;
      outline: 1px solid transparent;
      border: 2px solid #5e5e81;
      transition: all 500ms ease;
      box-shadow: 2px 3px 1px rgba(19, 15, 54, 0.651);
      &:hover {
        scale: 1.05;
        outline-color: #93f4fd;
        outline-offset: 5px;
      }

      .area-time {
        font-size: 2.1rem;
        text-align: right;
        padding-left: 2em;
        font-weight: bold;
        color: #93f4fd;
      }
      .area-detail {
        .country {
          font-family: "Nik";
          color: transparent;
          text-shadow: 1px 1px white;
          font-size: 1.2rem;
          margin-top: 1em;
          text-transform: uppercase;
        }
        .date {
          opacity: 0.5;
        }
      }
    }
  }
  &.only-time {
    background: none;
    margin: 0px 0;
    scale: 0.7;
    transform-origin: top;
    .confine {
      max-width: 100%;
      .flight-time {
        &.active {
          margin-top: -50px;
          .area .area-time {
            animation: blinks 0.5s infinite alternate-reverse;

            @keyframes blinks {
              0% {
                opacity: 1;
              }
              100% {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }

  #world-map {
    #chartdiv {
      height: 600px;

      @media screen and (max-width: 550px) {
        height: 330px;
      }
      background: rgba(0, 0, 0, 0.305);
    }
    .map-head {
      text-align: center;

      h2 {
        font-size: 4rem;
        font-family: "Nik";
      }
      margin-bottom: 1em;
      margin-top: 100px;
    }

    .tz-head {
      background: #3a3a65;
      border-top: 2px solid #93f4fd;
      border-bottom: 2px solid #93f4fd;
      min-height: 30px;
      h2 {
        text-align: center;
        font-size: 2rem;
      }
    }
    .timezone-list.flight-time {
      // min-height: 500px;
      margin: 0 auto;
      align-items: flex-start;
      justify-content: center;
      justify-items: center;

      .area {
        min-width: 300px;
      }
      .stream {
        background: rgba(0, 0, 0, 0.33);
        text-align: right;
        margin-top: 1em;
        padding: 1em;
        span {
          color: #3b8046;
        }
      }
    }
  }
}
