#contacts{
	.field{
		background:none;
		caret-shape: underscore;
		font-size: 1.2em;
		padding: .2em;
		width: 100%;
		padding:.5em;
		color: rgb(212, 247, 255);

		&::placeholder{
			color: rgba(255, 255, 255, 0.309);
			opacity: 0.7;
		}
		&:focus{
			color: rgba(42, 220, 75, 0.941);
		}
		background: rgba(0, 0, 0, 0.137);
		&:focus::after{
			content: "_";
		}
	}

	textarea{
		background: none;
		resize: none;
		width: 100%;
		color: rgb(212, 247, 255);
		font-size: 1.2rem;
		padding:.5em;
		min-height: 200px;
		&::placeholder{
			color: rgba(255, 255, 255, 0.309);
			opacity: 0.7;
		}
		&:focus{
			color: rgba(42, 220, 75, 0.941);
		}
		background: rgba(0, 0, 0, 0.137);
		&:focus::after{
			content: "_";
		}
	}
	.contact-form{
		display: flex;
		gap: 2em;
		flex-direction: column;
	}
	button{
		background-color: #565684;
		color: white;
		font-size: 2rem;
		font-family: 'Nik';
		transition: all 100ms ease;
		cursor: pointer;
		&:hover{
			scale: 1.05;
		}
	}
}