#cart-display {
  max-width: min(1000px, 95%);
  width: 100%;
  .cart-list {
    display: flex;
    gap: 1em;
    width: 100%;
    flex-direction: column;
    padding-bottom: 1em;
    .cart-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &.empty {
        p {
          padding: 0.25em;
          text-align: center;
          width: 100%;
        }
      }
      .image {
        width: 80px;
        height: 60px;
        background: rgba(0, 0, 0, 0.328);
        object-fit: contain;
      }
      .data {
        display: flex;
        align-items: center;
        gap: 1em;
      }
      .detail {
        display: flex;
        // align-items: center;
        .price {
          background: rgba(0, 0, 0, 0.462);
          font-size: 2rem;
          font-weight: bold;
          align-content: center;
          text-align: center;
          padding: 0 0.5em;
          min-width: 120px;
        }
      }
      .control {
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 0 1em;
        p {
          font-size: 2rem;
        }
        .btn {
          background: #93f4fd;
          color: #3a3a65;
          // height: 100%;
          font-family: var(--fontMain);
          font-size: 1.5rem;
          font-weight: bold;
          padding: 0 0.5em;
          &:disabled {
            opacity: 0.5;
            user-select: none;
            cursor: not-allowed;
            pointer-events: none;
          }
        }
      }
      background: linear-gradient(180deg, #3a3a65 0%, #211f27 100%);
      border: 3px solid #3a3a65;
      box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.545);
    }
    @media screen and (max-width: 768px) {
      .cart-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        .data {
          width: 100%;

          h2 {
            font-size: 1rem;
          }
        }
        .detail {
          .price {
            p {
              font-size: 1.2rem;
              padding: 0.25em 1em;
            }
          }
          .control {
            p {
              font-size: 0.9rem;
            }
            .btn {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .overview {
    width: 100%;
    background: #211f27;
    border: 3px solid #3a3a65;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    gap: 1em;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
    .total {
      display: flex;
      flex-direction: column-reverse;
      gap: 1em;
      width: 100%;
      .breakdown {
        // opacity: 0.9;
        p {
          color: rgba(255, 255, 255, 0.402);
        }
        padding-bottom: 1em;
        .discount {
          color: rgba(255, 0, 0, 0.872);
          span {
            font-weight: bold;
          }
        }
      }
      .sum {
        background: rgba(0, 0, 0, 0.159);
        padding: 0.25em 1em;
        // flex-direction: row-reverse;
        .prev {
          text-decoration: line-through;
          font-size: 0.9rem;
          font-weight: normal;
          color: red;
        }
        h2 {
          font-size: 1rem;
          font-weight: normal;
        }
        p {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
    .action {
      display: flex;
      flex-direction: column;
      gap: 1em;
      .btn-checkout {
        background: #93f4fd;
        color: #3a3a65;
        font-family: var(--fontMain);
        font-weight: bold;
        padding: 0.25em 1em;
      }
      .codes {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .top {
        display: flex;
        .nick {
          width: 100%;
          min-width: 360px;
          margin: 1em 0;
          max-width: 100%;
        }
      }
      .message {
        padding: 0.25em 1em;
        opacity: 0.8;
      }
      input {
        background: rgba(0, 0, 0, 0.219);
        width: 100%;
        min-width: 280px;
        padding: 0.25em 1em;
        color: #93f4fd;
        font-family: var(--fontMain);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1rem;

        &::placeholder {
          color: white;
          opacity: 0.4;
          font-family: var(--fontMain);
          text-transform: none;
          font-size: 0.9rem;
          font-weight: normal;
        }
      }
      @media screen and (max-width: 550px) {
        input {
          min-width: 0% !important;
        }
      }
    }
  }
}
