
#artwork{
	.title{
		text-align: center;
		font-size: 4.5rem;
		background: linear-gradient(to bottom,rgb(168, 179, 214),rgba(255, 255, 255, 0));
		background-clip: text;
		color: transparent;
		margin: 1em 0;
	}
	.artwork-list{
	
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10em 4em;
		flex-wrap: wrap;
		max-width: 1300px;
		margin: 0 auto;
		.window-body{
			padding: 1em 2em;
			min-height: 700px;
			width: 600px;
		}
	}
}