#tracking-container {
  width: min(900px, 98%);
  .window-container {
    width: 100%;
    // padding-bottom: 1em;
    // padding: 1em;
    input {
      background: rgba(0, 0, 0, 0.137);
      width: 100%;
      font-family: var(--fontMain);
      padding: 0.25em;
      font-size: 1.4rem;
      &::placeholder {
        color: rgba(255, 255, 255, 0.309);
      }
      @media screen and (max-width: 440px) {
        font-size: 1rem;
      }
    }

    .btn-check {
      background-color: #93f4fd;
      color: #3a3a65;
      font-family: var(--fontMain);
      padding: 0.25em 2em;
      font-weight: bold;
      text-transform: uppercase;
    }

    .window-body {
      padding: 1em;
      min-height: 400px;
    }

    .action {
      display: flex;
      // margin-top: 1em;
    }

    .order-detail {
      padding: 1em;
      @media screen and (max-width: 420px) {
        padding: 0.25em;
        padding-top: 1em;
      }
      .order-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        @media screen and (max-width: 768px) {
          gap: 0;
          // display: flex;
          flex-direction: column-reverse;
          gap: 1em;
          .status {
            width: 100%;
          }
        }
        .status {
          background: linear-gradient(180deg, #3a3a65 0%, #211f27 100%);
          border: 3px solid #3a3a65;
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.264);
          color: #1dc3ff;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          padding: 0.15em 0.5em;
          min-width: 35%;
          font-size: 1.5rem;
          span {
            font-size: 0.7rem;
            opacity: 0.2;
          }
        }

        h2 {
          font-size: 1.5rem;
          @media screen and (max-width: 550px) {
            font-size: 1rem;
          }
          span {
            text-transform: uppercase;
            // opacity: 0.5;
            font-weight: 500;
            color: #93f4fd;
            text-shadow: 0px 0px 4px #93f4fdb3;
          }
        }
      }
      .status-text {
        background: rgba(0, 0, 0, 0.204);
        padding: 1em;
        margin-top: 1em;
        h2 {
          font-size: 1.1rem;
        }
        p {
          opacity: 0.5;
        }

        @media screen and (max-width: 550px) {
          h2 {
            font-size: 0.9rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }

      .breakdown {
        display: flex;
        flex-direction: column;
        gap: 0.55em;
        padding: 1em 0;

        .item {
          padding: 0.55em 1em;
          border: 2px solid #3a3a65;
          background: rgba(0, 0, 0, 0.204);
          display: flex;
          justify-content: space-between;

          .name {
            font-weight: bold;
          }
          .q {
            opacity: 0.3;
          }
          .p {
            color: #93f4fd;
          }
        }
        @media screen and (max-width: 550px) {
          padding: 0.25em 0;
          .item {
            font-size: 0.9rem;
          }
        }
      }

      .confirm {
        background: linear-gradient(180deg, #3a3a65 0%, #211f27 100%);
        text-align: left;
        padding: 1em;
        margin: 1em 0;

        h2 {
          font-size: 1.2rem;
          font-weight: bold;
          text-transform: uppercase;
        }

        @media screen and (max-width: 550px) {
          h2 {
            font-size: 1rem;
            margin: 0.25em 0;
          }
          p {
            opacity: 0.5;
            font-size: 0.8rem;
          }
        }
      }
      .btn-check {
        margin: 1em 0;
        @media screen and (max-width: 550px) {
          font-size: 0.8rem;
          padding: 1em 0.5em;
        }
      }
    }
    .notfound {
      text-align: center;
      color: rgba(255, 0, 0, 0.888);
      padding: 1em;
      opacity: 0.8;
      font-weight: bold;
    }
  }
}
