.window-container{
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #1E1E1E 38.02%, rgba(30, 30, 30, 0.62) 86.46%);
	// filter: drop-shadow(-16px 13px 0px rgba(0, 0, 0, 0.114));
	box-shadow: -10px 10px rgba(0, 0, 0, 0.185);
	.window-header{
		display: flex;
		font-size: 2rem;
		justify-content: space-between;
		align-items: center;
		background: #565684;
		padding: .2em .5em;
		font-family: 'Nik';
		color: white;
		h2{
			box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.096) inset;
			background-color: rgba(28, 23, 38, 0.64);
			text-shadow: 3px 3px 2px rgba(24, 20, 27, 0.466);
			padding: 0 .2em;
			font-size: 2rem;
			// background-clip: text;
			color: black;
			
		}
		
		img{
			max-height: 30px;
		}
	}
	.window-body{
		padding: .3em 1em;
		
	}	
	
	
}