#container_hero{

	.display{
		overflow: hidden;
		max-width: 100vw;
		.bg-binary{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -10;
			background: url('/background/binary-spread.png'),rgba(0, 0, 0, 0.125);
			background-blend-mode: multiply;
			background-repeat: no-repeat;
			background-position: top;
		}
		// background: rgba(0, 128, 0, 0.189);
		min-height: 550px;
		width: 100%;
		position: relative;
		.niks{
			height: 400px;
			
			bottom: 0%;
			position: absolute;
			z-index: -5;
			width: 100%;
			display: flex;
			justify-content: center;
			.frame-main{
				position: absolute;
				bottom: 20%;
				z-index: -2;
				max-height: 100%;
			}
			.nik-center{
				scale: 2.2;
				position: relative;
				top: 20%;
			}
			.nik{
				position: absolute;
				max-height: 100%;
				left: calc(50% - 400px);
				background: red;
			}
			.cor-nik{
				max-height: 100%;
				position: absolute;
				left: calc(50% );
			}
			
		}

		.logo-container{
			position: absolute;
			display: flex;
			width: 100%;
			bottom: 0%;
			justify-content: center;
			.main-logo{
				// width:20px;
			}
		}

		.window{
			position: absolute;
			// background: red;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0%;
			left: 0%;
			width: 100%;
			// height:100%;
			gap: 600px;
			z-index: -10;
			padding-top: 120px;
			.popup{
				scale: .7;
				opacity: .5;
				&.corrupt{
					position: relative;
					top: 80px;
				}
			}
		}

		.connection{
			display: flex;
			justify-content: center;
			align-items: end;
			z-index: -100;
			width: 100%;
			gap: 950px;
			padding-top: 100px;
			position: absolute;
		}
		.header-frame{
			position: absolute;
			display: flex;
			width: 100%;
			bottom: -20px;
			z-index: -2;
			justify-content: space-between;
		
		}

		.arrows{
			position: absolute;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1350px;
			height: 550px;
			.arrow{
				transition: all 100ms ease;

				&.r{
					rotate: 180deg;
				}
			}

		}
	}

	.header{
		background: linear-gradient(180deg, #1E1E1E 0%, #1E1E1E 30.73%, rgba(30, 30, 30, 0.98) 50%, rgba(30, 30, 30, 0.85) 84.37%, rgba(30, 30, 30, 0.53) 100%);
		min-height: 250px;
		// border-top: 45px solid ;

		.decor-stripe{
			width: 100%;
			height: 30px;
			// background-color: #565684;
			background: url('/background/header_top.png'),#565684;
			background-size: 100% 30px;
			box-shadow: 2px 2px 5px black;
		}
		.navigation{
			display: flex;
			justify-content: center;
			gap: 1em;
			font-size: 1.7rem;
			flex-wrap: wrap;
			margin: 2em;
			a{
				&:hover,&.selected{
					text-decoration: underline;
					font-weight: bold;
					color: #C9E5FD;
				}

	
			}
		}
	}
}


@media screen and (width <= 1024px){
	#container_hero .display .niks .frame-main{
		width: 900px;
		bottom: 30%;
		scale: .8 1;
	}
	#container_hero .display .header-frame img{
		width: 35%;
		// scale: .7;
	}
	#container_hero .display .window{
		scale: .8;
		gap: 500px;
	}
	#container_hero .display .connection{
		gap: 650px;
		padding-top: 200px;
		img{
			scale: .5;
		}
	}
	#container_hero .header .navigation{
		font-size: 1.2rem;
	}
}

@media screen and (width <= 768px) {
	#container_hero .display .niks{
		height: 300px;
	}
	#container_hero .display .logo-container{
		.main-logo{
			max-width: 350px;
		}
	}
	#container_hero .display .window{
		// scale: .5;
		// padding-top: 10px;
		// gap: 600px;
		padding-top: 0px;
		img{
			scale: .4;
		}
	}
	#container_hero .display{
		min-height: 400px;
	}
	#container_hero .display .connection{
		gap: 500px;
		padding-top:20px;
		// scale: -1 1;
		img{
			scale: .5;
			// max-height: 200px;
		}
	}

	#container_hero .header .navigation{
		font-size: 1.1rem;
	}
}

@media screen and (width <= 425px){
	#container_hero .display{
		min-height: 300px;
	}
	#container_hero .display .niks{
		height: 230px;
		img{
			
		}
	}
	#container_hero .display .logo-container{
		.main-logo{
			max-width: 250px;
		}
	}

	
	#container_hero .header .navigation{
		font-size: 1.1rem;
		display: grid;
		gap: 0.45em;
		grid-template-columns: 3fr 4px;
	}
	#container_hero .header .navigation a{
		background-color: #0e0d0d42;
		padding: 0.5em .5em;
		border-radius: .25em;
		color: white;

		&.selected{
			background-color: #36434e;
		}
	}
}