#schedules{

	margin: 200px 0;
	background: url('/background/sched_stripe.png'), rgb(207, 207, 207);
	background-blend-mode: multiply;
	animation: stripe 20s linear infinite;
	height: 400px;
	display: flex;
	align-items: center;
	.sched-img{
		transition: all 100ms ease;
		&:hover{
			scale: 1.6;
		}
		height: 100%;
		background-color: rgb(43, 41, 51);
		max-width: 1200px;
		margin: 0 auto;
		border: 2px solid #C9E5FD;
		aspect-ratio: 16 / 9;
		scale: 1.5;
		position: relative;
		box-shadow: -7px 7px black;
		img{
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
		&::before{
			content: '';
			position: absolute;
			scale: 1.05 1.08;
			border:1px solid rgba(255, 255, 255, 0.281);
			width: 100%;
			height: 100%;
		}
	}

	.header{
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: end;
		width: 100%;
		bottom: 105%;
		img{
			max-width: 200px;
		}
	}
}

@keyframes stripe {
	0%{
		background-position: 0px 0px;
	}
	100%{
		background-position: 1000px 500px;
	}
}

@media screen and (width <= 1200px) {
	#schedules .sched-img{
		scale: 1.2;
		&:hover{
			scale: initial;
		}
	}
}

@media screen and (width <= 1024px) {
	#schedules .sched-img{
		scale: 1;
	}

}

@media screen and (width <= 768px) {
	#schedules{
		height: 300px;
	}
	#schedules .sched-img{
		// scale: 1.2;
		max-width: 100%;
	}
}

@media screen and (width <= 425px) {
	#schedules{
		height: 200px;
		margin: 20px;
		.header{
			display: flex;
			justify-content: center;
			.decor{
				display: none;
			}
		}
	}
}

